<!-- Uses layout.erb for common content of html doc -->
<!-- execute ruby code inside erb file -->
	<article>
		<img id='headshot' src="/images/GD_Headshot-1b.jpg">
		<div id="tech_overview">
			<h3 id=to_title>Technology Overview</h3>
			<ul>
				<li><strong>Languages: </strong>Ruby, Javascript</li>
				<li><strong>Frameworks: </strong>Rails</li>
				<li><strong>Basic: </strong>HTML5, CSS3</li>
			</ul>
		</div>
		<div id="professional_summary">
			<h3 id=ps_title>Professional Summary</h3>
			<p>Web Developer specialing in full stack development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, Ruby, and C.  Strong background in project management and customer relations.</p>
		</div>
		<div id="job_history">
			<h3 id=jh_title>Job History</h3>
			<p>Responsible for working on a range of projects, designing appealing websites and interacting on a daily basis with graphic designers, development staff, and marketers.</p>
			<ul>
				<li>Developing and maintaining the front-end and back-end functionality of websites.</li>
				<li>Designing prototypes for apps and websites.</li>
				<li>Writing cross-browser compliant HTML, CSS, and JavaScript.</li>
				<li>Providing guidance to other team members on web development issues.</li>
				<li>Developing websites that have a consisstent look and feel throughout all web properties.</li>
				<li>Providing technical support to end users</li>
			</ul>
		</div>
	</article>
